.pointer{
  cursor: pointer;
}

.center{
  align-self: center;
}

.dark{
  background: url('../../../assets/b4.jpg');
  color: white;
}

.light{
  background-color: lightsteelblue;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}
/*table {*/
/*table-layout: fixed;*/
/*}*/

table {
  border-collapse:collapse;
}
table td {
  word-wrap:break-word;
  padding-right: 5px ;
}
th{
white-space: nowrap;
  padding-right: 5px ;

}
